
:host {
  display: block;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

#grid {
  background-color: #fff;
  cursor: default;
  height: 75vh;
 --default-primary-color: red;
  --iron-data-table-header: {
    background-color: #B8D0AA;
    color: #356618;
    cursor: default;
    font-size: 1.2em;
    font-weight: 400;
  }
  --iron-data-table-row: {
    height: 45px;
    align-items: center;
    margin-bottom: .5em;
  }
  --iron-data-table-row-odd: {
    /*background-color: #DCE9D4;*/
  }
  --iron-data-table-row-even: {
    /*background-color: #B8D0AA;*/
  }
}
#grid ::content data-table-cell {
  cursor: default;
  padding-right: 0;
}
#grid ::content data-table-row ::content data-table-cell:last-child {
  padding-right: 26px;
}
#grid ::content data-table-row ::content data-table-cell:nth-last-child(2) {
  padding-left: 12px;
}
#grid span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-wrap {
  padding-top: .3em;
  padding-bottom: .3em;
  text-align: right;
}
paper-icon-button {
  padding: 0em;
}
paper-button {
  background-color: #356618;
  color: #fff;
  --paper-button-raised-keyboard-focus: {
    background-color: var(--paper-pink-a200) !important;
    color: white !important;
  };
}
paper-dialog {
  min-width: 400px;
  padding-bottom: 16px;
}
paper-button.cancel {
  background-color: #FFF;
  color: #356618;
}
